volumes:
  static:
  media:
  pg_data:
  docs:


services:

  db:
    container_name: foodgram-db
    image: postgres:13.10
    volumes:
      - pg_data:/var/lib/postgresql/data/
    env_file: .env
    restart: always

  backend:
    container_name: foodgram-backend
    image: kostyafeskov/foodgram_backend
    volumes:
      - static:/app/static/
      - media:/app/media/
    env_file: .env
    depends_on:
      - db
    restart: always

  frontend:
    container_name: foodgram-front
    image: kostyafeskov/foodgram_frontend
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    container_name: foodgram-proxy
    image: kostyafeskov/foodgram_nginx
    ports:
      - "8000:80"
    volumes:
      - ../frontend/build:/usr/share/nginx/html/
      - static:/var/html/static/
      - media:/var/html/media/
      - docs:/usr/share/nginx/html/api/docs/
    depends_on:
      - frontend
      - backend
    restart: always
